.myForm {

}

form {
    display: flex;
    flex-direction: column;
    border: red dotted 2px;
    color: black;
    padding: 2rem;
}

form label {
    margin-top: 5%;
}

body {
    display: flex;
    justify-content: center;
}