.myForm {

}

form {
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    color: black;
    padding: 2rem;
    background-color: lightgray;
}

form label {
    margin-top: 5%;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("mainbg.avif");
}

input[type=text] {
    padding: .5rem;
}


.formsubmit {
    margin-top: 5%;
}

.pageheader {
    border: blue dotted 2px;
    text-align: center;
}



